  
/*header style */
   .min-100-vh {
    min-height: 100vh;
  }

    .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

    .p-5 {
    padding: 1.625rem;
  }

    .text-center {
    text-align: center;
  }

    .text-white {
    color: #ffffff;
  }

  .bg-primary {
    background-color: #2d3e50;
}
  
/* left styling */

#searchSection {
    margin: 15px 80px;
}

.mb-15 {
    margin-bottom: 15px;
}

.round {
    border-radius: 5px;
}

/*search History */

/* result Section */



